 .bg {

    background-image: url("https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/2/23/Green_grass_and_trees_in_the_forest-other.jpg/revision/latest?cb=20160829180929");
    background-repeat:no-repeat;


 }
#ui{

cursor: pointer;

}
